Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-SocketIO==5.5.1
Flask-WTF==1.1.1
WTForms==3.0.1
email-validator==2.0.0
psycopg2-binary==2.9.11
Werkzeug==2.3.7
plotly==5.17.0
pandas==2.1.1
python-socketio==5.14.3
eventlet==0.40.3
Pillow==10.0.1
python-dateutil==2.8.2
bcrypt==4.0.1
reportlab==4.0.4
openpyxl==3.1.2
SQLAlchemy==2.0.43
numpy==2.3.3
python-engineio==4.12.2
bidict==0.23.1
blinker==1.9.0
click==8.2.1
colorama==0.4.6
dnspython==2.8.0
et_xmlfile==2.0.0
greenlet==3.2.4
h11==0.16.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pytz==2025.2
simple-websocket==1.1.0
six==1.17.0
tenacity==9.1.2
typing_extensions==4.15.0
tzdata==2025.2
wsproto==1.2.0